{% extends 'base.html.twig' %}
{% block title %}
Visa payment
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('css/payment.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ asset('css/default_payment.css')}}" />
{% endblock %}

{% block body %}
  {% block visaForm %}
  <h1> Pay with Visa card </h1>
  <form class="table">
    <div class="table-row">Card Number:
      <input type="text" pattern="[0-9]{16}" name="cardnumber" placeholder="Votre numéro de carte"/>
    <br/>
    </div>
    <div class="table-row">Name on the card:
      <input type="text" name="firstlastname" placeholder="Mr Nom Prénom"/>
    <br/>
    </div>
    <div class="table-row">Secret Code:
      <input type="text" pattern="[0-9]{3}" name="secretcode" placeholder="Code au dos de la carte"/>
    <br/>
    </div>
    <input type="submit" value="Submit">
  </input>
  </form>
  {% endblock %}
{% endblock %}
