{% extends '/payment/visaFormPayment.html.twig' %}

{% block body %}
<h2> CONFIRM PAYMENT FOR {{amount}} EUROS!</h2>
{{ form_start(form) }}
{{ form_widget(form)   }}
{{ form_end(form) }}
{% endblock %}
